strong { font-weight: bold; }

html {
  background-color: white;
  font-family: "Helvetica," Arial, sans-serif;
  color: #303030;
}

h1 {
  font-size: 56px;
  font-style: italic;
  color: #303030;
  margin-left: 150px;
  margin-top: 75px;
}

h1#pettrakr {
  font-size: 96px;
  font-style: italic;
  color: #303030;
  margin-left: 150px;
  margin-top: 75px;
}
  
form {
  margin-top: 40px;
}

fieldset.login-register {
  padding: 1em;
  margin-top: 20px;
  margin-left: 150px;
  width: 35em;
  font:80%/1 sans-serif;
  background-color: D8D8D8;
  border: 1px solid #336699
  }
  
fieldset.register {
  padding: 1em;
  margin-top: 20px;
  margin-left: 150px;
  width: 35em;
  font:80%/1 sans-serif;
  background-color: D8D8D8;
  border: 1px solid #336699
  }
  
label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  display: inline;
}
  
legend {
  color: #336699;
  font-size: 24px;
}

a {
  text-decoration: none;
  font-size: small;
}

a:visited {
 color: #200000;
 text-decoration: none;
}

a:link {
 color: black;
 padding: 32px 40px 12px 40px;
}

button {
  background-color: #D8D8D8;
  font-size: 16px;
  margin-left: 50px;
}

button:hover {
  border-color: #006699;
}

button#register {
  margin-left: 325px;
  text-align: center;
}

button#save {
  margin-left: 925px;
  margin-bottom: 50px;
}

button#save2 {
  margin-left: 950px;
  margin-top: 25px;
}

img#robot-dog {
  position: absolute;
  left: 775px;
  bottom: 45px;
}

img#robot-cat {
  position: absolute;
  bottom: 430px;
  right: 200px;
}
  
p.congratulations {
  margin-top: 40px;
  margin-left: 150px;
  margin-bottom: 40px;
  font-size: 24px;
  color: #336699;
}

p.instructions {
  margin-left: 150px;
  margin-bottom: 30px;
  font-size: 24px;
  color: #336699;
}

ul#sortable {
  margin-left: 325px;
}

ul#caretakers {
  margin-left: 325px
}

ul#caretakers li {
  display: inline;
  list-style-type: none;
  padding-right: 100px;
}

ul#pets {
  margin-left:200px;
  margin-top: 35px;
}

ul#pets li {
margin-bottom: 50px;
}

fieldset.pettrakr {
  padding: 1em;
  margin-left: 275px;
  width: 35em;
  font:80%/1 sans-serif;
  background-color: D8D8D8;
  position: absolute;
  bottom: 25px;
  }

#pettrakr fieldset input[type="text"] {
  size: 35px;
}

table#congratulations {
  margin-left: 150px;
  margin-top: 25px;
  margin-bottom: 15px;
}

table#congratulations td{
  text-align: center;
  padding: 5px;
  padding-bottom: 25px;
  padding-right: 25px;
  background-color: #B8B8B8;
}

td#pettrakr {
  padding: 15px;
  font-style: italic;
  font-size: 20px;
  color: #336699;
}
